{% extends 'base.html.twig' %}

{% block title %}Création de profile{% endblock %}

{% block body %}
    <h1>Création de profile</h1>

    {{ include('profile/_form.html.twig') }}
    
{% endblock %}
